

@model IEnumerable<IGrouping<int, OrderHistory>>
@{   var count=0;
    
@foreach (var group in Model)
{ count=count+1;
 double totalAmount=0;
    <h2>Order @count</h2>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>TotalPrice</th>
                <th>OrderDate</th>
                <th>DeliveryDate</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var order in group)
            {
                <tr>
                    <td>@order.Title</td>
                    <td>@order.UnitPrice</td>
                    <td>@order.Quantity</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.OrderDate</td>
                    <td>@order.DeliveryDate</td>
                </tr>
               totalAmount=totalAmount+@order.TotalPrice;
            }
            <hr>
        </tbody>
    </table>
    <div > TotalAmount : @totalAmount</div>
    <hr>
}
}
