
@using ECommerceApp.Models;
@model IEnumerable<Address>

@{
    ViewData["Title"] = "Address Page";
}

<link rel="stylesheet" href="~/css/table.css" type="text/css" />
<div style="text-align: right;">
    <button ><a asp-controller="Address" asp-action="Address">New Address </a></button> 
</div>
<h1>Shipping Address</h1>
<hr>
<form method="post">

@foreach (var address in Model){
    <div>
    <input type="radio" name="addressId" value="@address.AddressId">
    @address.HouseNumber,@address.Landmark<br>
    @address.City, @address.PinCode<br>
    @address.State, @address.PinCode
   </div>
   <hr>
}
<button><input type="submit" value="Next" /></button>
</form>

