@model ECommerceApp.Models.Address;
@{
    ViewData["Title"] = "PermenantAddress Page";
}

<div class="text-center">
    <h1 class="display-4">Insert Your Permanent Address</Address></h1>
</div>
<link rel="stylesheet" href="~/css/table.css"/>
@using (Html.BeginForm()){
    <table>
          <input type="hidden" name="Address.CustomerId" value="@Model.CustomerId" />
         <tr>
            <th>@Html.LabelFor(model => model.HouseNumber)</th>
            <td>@Html.EditorFor(model => model.HouseNumber)</td>
        </tr>

         <tr>
            <th>@Html.LabelFor(model => model.Landmark)</th>
            <td>@Html.EditorFor(model => model.Landmark)</td>
        </tr>

         <tr>
            <th>@Html.LabelFor(model => model.City)</th>
            <td>@Html.EditorFor(model => model.City)</td>
        </tr>
          <tr>
            <th>@Html.LabelFor(model => model.PinCode)</th>
            <td>@Html.EditorFor(model => model.PinCode)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(model => model.State)</th>
            <td>@Html.EditorFor(model => model.State)</td>
        </tr>
           <tr>
            <th>@Html.LabelFor(model => model.Country)</th>
            <td>@Html.EditorFor(model => model.Country)</td>
        </tr>
           <tr>
            <th>@Html.LabelFor(model => model.PinCode)</th>
            <td>@Html.EditorFor(model => model.PinCode)</td>
        </tr>
    </table>
   <button ><input type="submit" value="Insert" /></button>
     
    
}